* {
  margin: 0px;
  padding: 0px;
  font-family: "Dancing Script", cursive;
  font-family: "Karla", sans-serif;
  background-color: #262626;
  color: #f3efe6;
}

body {
  background-color: #262626;
  color: #fff;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.fade-in-custom {
  animation: fadeIn ease 0.08s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

.fade-out-custom {
  animation: fadeOut ease 0.08s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#alert-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-content {
  background: #262626;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.main {
  margin: 0 auto;
  position: relative;
  top: 220px;
  width: 50%;
  background-color: #262626;
  font-size: 22px;
}

a {
  color: #f3efe6;
  font-size: 60%;
  padding: 20px 0;
}
a:hover {
  color: #8f7645;
  text-decoration: none;
}

small {
  font-size: 1rem;
  opacity: 0.5;
  width: 10%;
}

label {
  font-size: 1.75rem;
  padding: 15px 0;
  font-weight: 600;
}

.form-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px 0;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #f3efe6;
  border-radius: 2px;
  opacity: 0.5;
  box-sizing: border-box;
  background-color: #262626;
  font-size: 1.5rem;
}

.form-input:focus {
  background-color: #262626;
  outline: none; /* Remove the default browser outline */
  font-size: 1.5rem;
  border-bottom: 1px solid #f3efe6;
  opacity: 1;
}

button {
  color: #f3efe6;
  align-items: center;
  max-width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: #f3efe6;
  color: #8f7645;
}

.btn {
  border: 1px solid #f3efe6;
  font-weight: 700;
}

.next-btn {
  margin: 20px 0;
}

.rectangle {
  height: 60px;
  width: 60px;
  border: 2px solid #f3efe6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.arrows {
  display: flex;
  justify-content: flex-end;
  margin: 10px 30px;
}

#arrow-up,
#arrow-down {
  transform: scale(0.65);
  opacity: 0.5;
  transition: transform 0.3s ease;
}

#arrow-up:hover,
#arrow-down:hover {
  transform: scale(0.8);
  opacity: 1;
  cursor: pointer;
}

.header {
  font-weight: 700;
  font-size: 3.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #f3efe6;
  border-radius: 2px;
  box-shadow: 0.6em 0.6em 0 0 #e1d9c4;
  margin: 2.4rem 0;
  padding: 1rem;
  line-height: 40px;
  max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.hide {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .main {
    top: 80px;
  }
}

@media screen and (max-width: 600px) {
  input::placeholder {
    font-size: 75%;
  }
}

@media screen and (max-width: 300px) {
  input::placeholder {
    font-size: 55%;
  }
}
